<app-navbar></app-navbar>
<div class="container">
    <div>
        <button type="button" routerLink="/product-form" class="btn btn-success" style="margin-bottom: 10px;">Add Product</button>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th class="text-end">Actions</th> <!-- Align Actions column to the right -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products$ | async">
                        <td>{{ item.name }}</td>
                        <td>$ {{ item.price }}</td>
                        <td>{{ item.description }}</td>
                        <td class="text-end">
                            <span class="material-icons me-2 icon-edit" (click)="updateProduct(item)" style="cursor: pointer;">edit</span>
                            <span class="material-icons icon-delete" (click)="deleteProduct(item.id)" style="cursor: pointer;">delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
